body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}


#welcomeScreen{
    width: 100vw;
    height: 100vh;
    background-color: #23293db1;
    position: absolute;
    top:0;
    left:0;
    display: grid;
    grid-template-columns: 1fr 70% 1fr;
    grid-gap: 2%;
    grid-template-rows:1fr 2fr 2fr 1fr 1fr;
    grid-template-areas: 
        "txLogowanie txLogowanie txLogowanie"
        ". inpLogin ."
        ". btLoguj ."
        ". btReset ."
        ". . .";
}
#welcomeScreen > *{
    text-align: center;
    display: block;
}
#welcomeScreen > p{
    color: rgb(255, 246, 0);
    grid-area: txLogowanie;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    font-weight: bold;
}
#inpLogin{
    grid-area: inpLogin;
    height: 70%;
    background-color: transparent;
    color: rgb(255, 140, 0);
    font-size: 5vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    border: 2px solid rgb(255, 246, 0);
    border-radius: 100px;
}
#inpLogin:focus{
    color:rgb(255, 94, 0);;
    border: 4px solid rgb(255, 246, 0);
}
#inpLogin::selection{
    background-color: rgba(255, 246, 0, 0.9);
    color: white;
}

#btLoguj{
    cursor: pointer;
    grid-area: btLoguj;
    height: 70%;
    font-size: 5vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    border: 2px solid rgb(255, 246, 0);
    border-radius: 20px;
    color: rgb(255, 255, 255);
    background-color: transparent;
}
#btReset{
    cursor: pointer;
    grid-area: btReset;
    height: 70%;
    font-size: 3vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    border: 2px solid rgb(255, 246, 0);
    border-radius: 10px;
    color: rgb(255, 255, 255);
    background-color: transparent;
}

#btLoguj:hover, #btReset:hover{
    border: 4px solid rgb(255, 246, 0);
    background-color: rgba(255, 85, 0, 0.4);
}
#btLoguj:active, #btReset:active{
    border: 6px solid rgb(255, 246, 0);
    background-color: rgba(255, 187, 0, 0.8);
}

.status{
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    width: 100vw;
    border: 0 solid;
    color: whitesmoke;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2.4vw;
    padding: 1vh;
    text-align: center;
    background-color: rgba(92, 246, 236, 0.427);
}